@charset "UTF-8";
*{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        ::-webkit-scrollbar{
            width: 0px;
            height: 0px ;
        }
        img{
            width: 100vw;
        }
        a{
            padding: 20px;
            text-decoration: none;
            color: white;
            text-align: center;
            display: block;
            background-color: #1818d4;
            font-weight: bolder;
            font-size: 15pt;
        }
        a:hover{
            background-color: #0b0bb5;
        }