@charset "UTF-8";

*{
    margin:0px;
    padding:0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background: rgb(51, 51, 51) url(../imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
}