@charset "UTF-8";

*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    
}
body{
     background: rgb(51, 51, 51) url(../imagens/fundo-madeira.jpg) top center no-repeat fixed;
    background-size: cover;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background:  url(../imagens/frame-iphone.png) no-repeat center;

}
iframe#tela{
    position: relative;
    top: 81px;
    left: 23px;
    height: 469px;
    width: 266px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 50px;
   margin: 10px;
   border-radius: 50%;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
   box-sizing: border-box;
}
section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.247);
    transform: scale(1.1);
    transition: all 0.4s ease-in-out,border 0.2s ease-in-out;
}